<?xml version="1.0" encoding="utf-8"?>
<menu

pictureWidth="175"
pictureHeight="146"
radius="120"
elevation="1"
carouselAngle="0"
foregroundZoom="100"
backgroundZoom="60"
backgroundBlur="3"
backgroundAlpha="50"
rotationSpeed="6"
rotationNumber="5"
onRotButBarShowArrows="1"
onRotButBarAutoPlay="1"
onRotButBarAutoPlayDelay="20"
onRotButBarAutoPlayRotType="right"
onAutoRotateRotType="left"
stopRotatingOnMouseOver="0"
easeAmmount="80"
navigation_y="100"
enableimageStroke="0"
imageStrokeSize="3"
imageStrokeColor="0x7b0000"
enableImageReflection="0"
imageReflectionSize="25"
imageReflectionAlpha="18"
imageReflectionDist="-6"
rotateThumb="0"
showLogo="0"
logoWidth="150"
logoHeight="150"
logoAlpha="100"
logo="img/logo.png"
enableWheelZooming="1"
zoomImageOnMouseOver="1"
hoverZoom="25"
zoomSpeed="12"
brightenImageOnMouseOver="1"
brightenAmmount="12"
SwapDepthsOnMouseOver="1"
enableMouseOverStroke="0"
mouseOverStrokeSize="3"
mouseOverStrokeColor="0x0083ff"
enEffOnOtherThumb="1"
effDesaturate="100"
effDarken="32"
effAlpha="66"
effBlur="5"
effTime="26"
enableTooltip="1"
tooltipType="black"
tooltipPos="top"
tooltipMouseFollow="1"
tooltipAlwaysVisible="0"
>
</menu>

<pictures>
	<picture thumb="img/carousel1.png" description="Tons of customisation options" name="http://www.google.com" param="_blank"></picture>
	<picture thumb="img/carousel2.png" description="User controlled rotation or auto-rotate" name="http://www.google.com" param="_blank"></picture>
	<picture thumb="img/carousel3.png" description="Item description" name="http://www.google.com" param="_blank"></picture>
</pictures>
	
	
